doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="icon" type="image/png" href="./images/logo.png")
		title Document
		link(rel="stylesheet", href="index.css")
	body
		header.position-sticky.z-3.top-0.bg-white.border-bottom.mb-4.py-2
			.container
				.d-flex.gap-4
					a.logo(href="https://richa01011.github.io/admin-app/public/")
						img(src="images/logo.png")
						p СоюзРубин
					.d-flex.align-items-center.gap-2.col-4
						span Проект
						select.form-select(name="project")
							option(selected) Обезвреживание (уничтожение) отходов
							option Утилизация (покупка) отходов
		.container
			.grid
				.g-col-2.d-none.d-xxl-block
					.list-group#nav-menu-links
						a.list-group-item.list-group-item-action.active(href='https://richa01011.github.io/admin-app/public/') Реестр договоров
						a.list-group-item.list-group-item-action(href='https://richa01011.github.io/admin-app/public/regedit-orders.html') Реестр заявок
						a.list-group-item.list-group-item-action(href='https://richa01011.github.io/admin-app/public/reports.html') Отчеты
						a.list-group-item.list-group-item-action(href='https://richa01011.github.io/admin-app/public/archives.html') Архивы
						a.list-group-item.list-group-item-action(href='#') Справочники
				.offcanvas.offcanvas-start(id="nav-menu")
					.offcanvas-header
						.offcanvas-title.fs-5 Меню
						button.btn-close(type="button" data-bs-dismiss="offcanvas")
					.offcanvas-body
						.list-group#nav-menu-links
							a.list-group-item.list-group-item-action.active(href='https://richa01011.github.io/admin-app/public/') Реестр договоров
							a.list-group-item.list-group-item-action(href='https://richa01011.github.io/admin-app/public/regedit-orders.html') Реестр заявок
							a.list-group-item.list-group-item-action(href='https://richa01011.github.io/admin-app/public/reports.html') Отчеты
							a.list-group-item.list-group-item-action(href='https://richa01011.github.io/admin-app/public/archives.html') Архивы
							a.list-group-item.list-group-item-action(href='#') Справочники
				main.g-col-12.g-col-xxl-10
					block content
		script(src="js/libs.js")
		script(type="module", src="js/main.js")