extends layout/index
block content
	button.d-xxl-none.btn.btn-secondary.mb-3(type="button" data-bs-toggle="offcanvas" data-bs-target="#nav-menu") Меню
	.grid.gap-2.w-50
		button.handbook-btn.g-col-4(type="button" id="driver-modal-btn")
			i.fa-solid.fa-gear
			span Водители
		button.handbook-btn.g-col-4(type="button" id="unit-modal-btn")
			i.fa-solid.fa-gear
			span Единицы измерения
		button.handbook-btn.g-col-4(type="button" id="contact-persons-btn")
			i.fa-solid.fa-gear
			span Контактные лица
		button.handbook-btn.g-col-4(type="button" id="counterparty-modal-btn")
			i.fa-solid.fa-gear
			span Контрагенты
		button.handbook-btn.g-col-4(type="button" id="organizations-modal-btn")
			i.fa-solid.fa-gear
			span Организации
		button.handbook-btn.g-col-4(type="button" id="waste-modal-btn")
			i.fa-solid.fa-gear
			span Отходы
		button.handbook-btn.g-col-4(type="button" id="subcontract-modal-btn")
			i.fa-solid.fa-gear
			span Подрядные организации
		button.handbook-btn.g-col-4(type="button" id="projects-modal-btn")
			i.fa-solid.fa-gear
			span Проекты
		button.handbook-btn.g-col-4(type="button" id="car-modal-btn")
			i.fa-solid.fa-gear
			span Транспортные средства