extends layout/index
block content
	.d-flex.gap-2.mb-3
		button.d-xxl-none.btn.btn-secondary(type="button" data-bs-toggle="offcanvas" data-bs-target="#nav-menu") Меню
		.btn-group#orders-tabs
			input.btn-check(name="order-tables" type="radio" id="table-removal-schedule" checked)
			label.btn.btn-outline-secondary(for="table-removal-schedule") График вывоза
			input.btn-check(name="order-tables" type="radio" id="table-completed-orders")
			label.btn.btn-outline-secondary(for="table-completed-orders") Выполненные заявки
			input.btn-check(name="order-tables" type="radio" id="table-unfulfilled-orders")
			label.btn.btn-outline-secondary(for="table-unfulfilled-orders") Невыполненные заявки
	.d-flex.flex-column.mb-3
		.row.mb-2
			.col-3
				.row
					.col-5.pe-0
						.input-group-text Исполнитель
					.col.px-0
						select.form-select(name="filter_executor")
							option(selected) Все
							option ООО Союз Рубин
			.col-6
				.row
					.col-2.pe-0
						.input-group-text За период
					.col-6.px-0
						.input-group
							input.form-control(type="date" name="filter_date_start")
							.input-group-text -
							input.form-control(type="date" name="filter_date_end")
		.row
			.col-3
				.row
					.col-5.pe-0
						.input-group-text Контрагент
					.col.px-0
						select.form-select(name="filter_counterparty")
							option(selected) Все
							option ООО МедТехника Ип Иванов А.А.
			.col-6
				.row
					.col-2.pe-0
						.input-group-text Регион
					.col-6.px-0
						select.form-select(name="filter_region")
							option(selected) Все
							option Липецкая область
							option Тамбовская область
							option Белгородская область
	.tab-content#table-orders
		include components/orders/removal-schedule
		include components/orders/completed-orders
		include components/orders/unfulfilled-orders