extends layout/index
block content
	.d-flex.gap-2.mb-3
		button.d-xxl-none.btn.btn-secondary(type="button" data-bs-toggle="offcanvas" data-bs-target="#nav-menu") Меню
		.dropdown
			button.btn.btn-secondary.dropdown-toggle(type="button" data-bs-toggle="dropdown") Выбор отчёта
			.dropdown-menu
				button.dropdown-item#waste-move-log-btn Журнал движения отходов
				button.dropdown-item#report-counterparty-btn Отчёт по контрагентам
				button.dropdown-item#report-lpu-btn Отчёт по адресам
				button.dropdown-item#report-car-btn Отчёт по ТС
				button.dropdown-item#report-type-waste-btn Отчёт по отходам
				button.dropdown-item#change-log-btn Журнал изменений
		.dropdown
			button.btn.btn-secondary.dropdown-toggle(type="button" data-bs-toggle="dropdown") Действия
			.dropdown-menu
				button.dropdown-item Распечатать
				button.dropdown-item Скачать
	#reports-container