.mb-2.border.p-3
	.input-group.w-50.mb-3
		.input-group-text Контрагент
		select.form-select(name="counterparty")
			option(selected) Все
			option Городская больница 1
			option Городская больница 2
		.input-group-text Период
		input.form-control(type="date")
	p.text-center
		strong Отчёт по договорам с контрагентом за период
	.table-responsive
		table.table.table-striped.table-bordered.table-sm.table-hover.rounded.align-middle
			thead
				tr
					td(style="width: 12%") № Договора
					td(style="width: 12%") Регион
					td(style="width: 12%") Адрес ЛПУ
					td(style="width: 12%") Тип отхода
					td(style="width: 12%") Ед. изм. (по договору)
					td.p-0(colspan="3" style="width: 40%")
						table.table.table-sm.align-middle(style="margin: -1px")
							thead
								tr
									td(colspan="3").text-center 2023год
							tbody
								tr
									td.border-end(style="width: 33.333%") план
									td(style="width: 33.333%") факт
									td.border-start(style="width: 33.333%") отклонение
			tbody
				tr
					td.text-center(colspan="8")
						strong Договор 12323/342 от 17.06.2023
				tr
					td.text-center(colspan="8")
						strong Липецкая область
				tr
					td
					td
					td(colspan="6") Мед. учреждение ООО Ковалева 20
				tr
					td
					td
					td
					td Тип отхода А
					td Контейнер 35
					td.text-end 3500
					td.text-end 2450
					td.text-end -1050
				tr
					td
					td
					td
					td Тип отхода Б
					td Контейнер 15
					td.text-end 1400
					td.text-end 1650
					td.text-end 250
				tr
					td
					td
					td
					td Тип отхода В
					td КГ
					td.text-end 2000
					td.text-end 1950
					td.text-end -50
				tr
					td
					td
					td(colspan="6") Мед. учреждение ООО Ковалева 6
				tr
					td
					td
					td
					td Тип отхода А
					td М3
					td.text-end 15000
					td.text-end 1350
					td.text-end -13650
				tr
					td
					td
					td
					td Тип отхода Б
					td Контейнер 50
					td.text-end 50
					td.text-end 48
					td.text-end -2
				tr
					td
					td
					td
					td Тип отхода В
					td КГ
					td.text-end 750
					td.text-end 980
					td.text-end 230
				tr
					td.text-center(colspan="8")
						strong Тамбовская область
				tr
					td
					td
					td(colspan="6") Мед. учреждение ООО Ковалева 20
				tr
					td
					td
					td
					td Тип отхода А
					td Контейнер 35
					td.text-end 3500
					td.text-end 2450
					td.text-end -1050
				tr
					td
					td
					td
					td Тип отхода Б
					td Контейнер 15
					td.text-end 1400
					td.text-end 1650
					td.text-end 250
				tr
					td
					td
					td
					td Тип отхода В
					td КГ
					td.text-end 2000
					td.text-end 1950
					td.text-end -50
				tr
					td
					td
					td(colspan="6") Мед. учреждение ООО Ковалева 6
				tr
					td
					td
					td
					td Тип отхода А
					td М3
					td.text-end 15000
					td.text-end 1350
					td.text-end -13650
				tr
					td
					td
					td
					td Тип отхода Б
					td Контейнер 50
					td.text-end 50
					td.text-end 48
					td.text-end -2
				tr
					td
					td
					td
					td Тип отхода В
					td КГ
					td.text-end 750
					td.text-end 980
					td.text-end 230