.modal.fade(id="new-contract-modal" data-bs-backdrop="static" data-bs-keyboard="false")
	.modal-dialog.modal-xl.modal-dialog-scrollable.modal-dialog-centered
		.modal-content
			.modal-header
				.modal-title.fs-5 Создание договора
				button.btn-close(type="button" data-bs-dismiss="modal")
			.modal-body
				form
					.d-flex.mb-3
						.col-3
							.input-group-text Договор №
						.col
							.input-group
								input.form-control(type="text" name="contractNumber")
								.input-group-text От

								input.form-control(type="date" name="dateContractStart")
								.input-group-text До

								input.form-control(type="date" name="dateContractEnd")
					.d-flex.mb-3
						.col-3
							.input-group-text Исполнитель
						.col
							select.form-select(name="executor")
								option(value="1" selected) Выберите исполнителя для отображения
								option(value="2") ООО Название организации
					.d-flex.mb-3
						.col-3
							.input-group-text Контрагент
						.col
							input.form-control(type="text" name="counterpartyName" placeholder="Название или ИНН")
					.d-flex.mb-3
						.col-3
							.input-group-text Дата начала исполнения
						.col
							.input-group
								input.form-control(type="date" name="dateExecutionStart")
								span.input-group-text Дата окончания исполнения
								input.form-control(type="date" name="dateExecutionEnd")
					.d-flex.mb-3
						.col-3
							.input-group-text.h-100 Комментарий
						.col
							textarea.form-control(rows="3" name="comment")
					.nav.nav-tabs(role="tablist" id="address-tabs")
						.nav-link.active.d-flex.align-items-center(data-bs-toggle="tab" data-bs-target="#tab-0-1" role="tab" style="cursor: pointer;")
							span Адрес 1
						button.nav-link(type="button" data-add-contract="add") +
					.tab-content.pt-4#dynamic-tab-content
						.tab-pane.fade.show.active(id="tab-0-1" role="tabpanel")
							include tab-pane
			.modal-footer
				button.btn.btn-dark(type="button") Сохранить и сформировать график вывоза
				button.btn.btn-danger(type="button" data-bs-dismiss="modal") Отменить