.d-flex.mb-3
	.col-4
		.input-group-text Исполнитель (субподряд)
			span.ms-2.text-secondary Не обязательно
	.col
		select.form-select(name="subcontracting[]")
			option(selected) Выберите исполнителя для отображения
			option ООО Союз Рубин
.d-flex.mb-3
	.col-3
		.input-group-text Регион исполнения
	.col
		select.form-select(name="region[]")
			option(selected value="1") Липецкая обл.
			option(value="2") Тамбовская обл.
			option(value="3") Курская обл.
.d-flex.mb-3
	.col-3
		.input-group-text Наименование ЛПУ
	.col
		input.form-control(type="text" name="hospitalName[]")
.d-flex.mb-3
	.col-3
		.input-group-text Адрес вывоза отходов
	.col
		input.form-control(type="text" name="wasteRemovalAddress[]")
.d-flex.mb-3
	.col-3
		.input-group-text Контактное лицо от ЛПУ
	.col
		.input-group
			input.form-control(type="text" name="fullNamePersonFromHospital[]")
			.input-group-text Телефон контактного лица
			input.form-control(type="tel" name="telPersonFromHospital[]")
.d-flex.mb-3
	.col-3
		.input-group-text График работы
	.col
		select.form-select(name="workSchedule[]")
			option(value="1" selected) Работают все дни, включая выходные и праздничные дни
			option(value="2") Не работают в выходные и праздничные дни
			option(value="3") Не работают в выходные и праздничные дни, кроме субботы
			option(value="4") Не работают в выходные и праздничные дни, кроме воскресенья
			option(value="5") Работают все дни, кроме праздничных.
p.mb-3
	strong Типы вывозимых отходов
div(data-dynamic-element="")
	div(data-dynamic-container="waste-type" data-type-intervals="wrapper")
		include waste-type
	button.btn.btn-outline-rose(type="button" data-dynamic-button="waste-type") + Добавить строку