.modal.fade(id="termination-contract-modal" data-bs-backdrop="static" data-bs-keyboard="false")
	.modal-dialog.modal-lg.modal-dialog-scrollable.modal-dialog-centered
		.modal-content
			.modal-header
				.modal-title.fs-5 Расторжение договора
				button.btn-close(type="button" data-bs-dismiss="modal")
			.modal-body
				form
					.d-flex.mb-3
						.col-5
							.input-group-text Стоимость контракта
						.col
							input.form-control(type="text" name="contractCost")
					.d-flex.mb-3
						.col-5
							.input-group-text Стоимость выполненных работ
						.col
							.input-group
								input.form-control(type="text" name="completedWorksCost")
								.input-group-text Дата расторжения
								input.form-control(type="date" name="dateOfTermination")
					.d-flex.mb-3
						.col-5
							.input-group-text Основание расторжения/исполнения
						.col
							input.form-control(type="text" name="groupdsForTermination")
					.d-flex
						.col-5
							.input-group-text.h-100 Комментарий к договору
						.col
							textarea.form-control(name="commentContract" row="3")
			.modal-footer
				button.btn.btn-dark(type="button") Расторгнуть договор
				button.btn.btn-danger(type="button" data-bs-dismiss="modal") Отменить