.tab-pane.fade.show.active#tab-removal-schedule
	.d-flex.justify-content-between.mb-2
		.d-flex.gap-2
			button.d-xxl-none.btn.btn-secondary(type="button" data-bs-toggle="offcanvas" data-bs-target="#nav-menu") Меню
			button.btn.btn-light(type="button" id="toggle-checked-all-btn")
				i.fa-regular.fa-circle-check
				span  Выделить всё
			button.btn.btn-light(type="button" id="delete-order-btn" data-disabled-toggle="any" disabled)
				i.fa-solid.fa-trash
				span  Удалить
			button.btn.btn-light(type="button" id="edit-order-btn" data-disabled-toggle="one" disabled)
				i.fa-solid.fa-edit
				span  Редактировать
			button.btn.btn-light(type="button" id="print-order-btn" data-disabled-toggle="any" disabled)
				i.fa-solid.fa-print
				span  Распечатать
			button.btn.btn-light(type="button" id="excel-order-btn" data-disabled-toggle="any" disabled)
				i.fa-solid.fa-download
				span  Отправить в Excel
		.d-flex.gap-2
			input.form-control(type="text" placeholder="Поиск")
			button.btn.btn-dark(type="button") Поиск
	.table-responsive
		table.table.table-striped.table-bordered.table-sm.table-hover.rounded.align-middle
			thead
				tr.align-middle
					th #
					th(style="min-width: 120px;")
						.filterable
							span № Заявки
							i.fa-solid.fa-sort-down
					th(style="min-width: 150px;")
						.filterable
							span Регион
							i.fa-solid.fa-sort-down
					th(style="min-width: 150px;")
						.filterable
							span Исполнитель
							i.fa-solid.fa-sort-down
					th(style="min-width: 150px;")
						.filterable
							span Организация субподряд
							i.fa-solid.fa-sort-down
					th(style="min-width: 200px;")
						.filterable
							span Заказчик
							i.fa-solid.fa-sort-down
					th(style="min-width: 150px;")
						.filterable
							span Договор
							i.fa-solid.fa-sort-down
					th(style="min-width: 200px;")
						.filterable
							span Дата плановая
							i.fa-solid.fa-sort-down
					th(style="min-width: 200px;")
						.filterable
							span Дата плановое изменение
							i.fa-solid.fa-sort-down
					th(style="min-width: 250px;")
						.filterable
							span Наименование учреждения
							i.fa-solid.fa-sort-down
					th(style="min-width: 200px;")
						.filterable
							span Адрес вывоза
							i.fa-solid.fa-sort-down
					th(style="min-width: 200px;")
						.filterable
							span Комментарий к адресу
							i.fa-solid.fa-sort-down
					th(style="min-width: 120px;")
						.filterable
							span Тип отхода
							i.fa-solid.fa-sort-down
					th(style="min-width: 120px;")
						.filterable
							span Количество плановое
							i.fa-solid.fa-sort-down
					th(style="min-width: 150px;")
						.filterable
							span Единица измерения
							i.fa-solid.fa-sort-down
					th(style="min-width: 200px;")
						.filterable
							span График работы
							i.fa-solid.fa-sort-down
					th(style="min-width: 160px;")
						.filterable
							span Периодичность вывоза отходов
							i.fa-solid.fa-sort-down
					th(style="min-width: 100px;")
						.filterable
							span ТС
							i.fa-solid.fa-sort-down
					th(style="min-width: 150px;")
						.filterable
							span Тип ТС
							i.fa-solid.fa-sort-down
					th(style="min-width: 150px;")
						.filterable
							span Водитель
							i.fa-solid.fa-sort-down
					th(style="min-width: 120px;")
						.filterable
							span Корректировка
							i.fa-solid.fa-sort-down
					th(style="min-width: 100px;")
						.filterable
							span Статус
							i.fa-solid.fa-sort-down
			tbody
				tr
					td
						input.form-check-input(type="checkbox")
					td 231231
					td Липецкая обл
					td Союз Рубин
					td x
					td ООО Медицинские центры России
					td.text-center 254/454
					td.text-center 6/17/2023
					td.text-center 6/17/2023
					td ЛЕЧЕБНО-ДИАГНОСТИЧЕСКИЙ ЦЕНТР №1
					td Липецк Ковалева 125Б
					td в первой половине
					td.text-center А
					td 1
					td КГ
					td вкл. Вых. и праздн.
					td ВТ,ЧТ
					td А925АА48
					td Термофургон
					td Тарабах А.А.
					td х
					td В работе
				tr
					td
						input.form-check-input(type="checkbox")
					td 231232
					td Липецкая обл
					td Союз Рубин
					td x
					td ООО Медицинские центры России
					td.text-center 254/454
					td.text-center 6/17/2023
					td.text-center 6/17/2023
					td ЛЕЧЕБНО-ДИАГНОСТИЧЕСКИЙ ЦЕНТР №2
					td Липецк Ковалева 125Б
					td до 14:00
					td.text-center Б
					td 1
					td Контейнер 35
					td вкл. Вых. и праздн.
					td ВТ,ЧТ
					td А925АА48
					td Термофургон
					td Тарабах А.А.
					td х
					td В работе
				tr
					td
						input.form-check-input(type="checkbox")
					td 231233
					td Липецкая обл
					td Союз Рубин
					td x
					td ООО Медицинские центры России
					td.text-center 254/454
					td.text-center 6/17/2023
					td.text-center 6/17/2023
					td ЛЕЧЕБНО-ДИАГНОСТИЧЕСКИЙ ЦЕНТР №3
					td Липецк Ковалева 125Б
					td ключи от ворот на охране
					td.text-center В
					td 10
					td ШТ
					td кроме вых. и праздн.
					td Ежедн.
					td В311ОО48
					td Бортовой
					td Тарабах А.А.
					td х
					td В работе
				tr
					td
						input.form-check-input(type="checkbox")
					td 231234
					td Липецкая обл
					td Союз Рубин
					td ИП Бах
					td ООО Медицинские центры России
					td.text-center 254/454
					td.text-center 6/17/2023
					td.text-center 6/17/2023
					td ЛЕЧЕБНО-ДИАГНОСТИЧЕСКИЙ ЦЕНТР №4
					td Липецк Ковалева 125Б
					td По пропускам
					td.text-center Г
					td 5
					td М,КУБ
					td кроме вых. и праздн. Искл. Суб.
					td ВТ,ЧТ
					td А744ВВ48
					td Цистерна
					td Бах А.А.
					td х
					td В работе
		//- table.table.table-striped.table-bordered.table-sm.table-hover.rounded.align-middle
		//- 	thead
		//- 		tr.align-middle
		//- 			th #
		//- 			th(style="min-width: 120px")
		//- 				.filterable
		//- 					span № Заявки
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Регион
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Исполнитель
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Орг. субподряд
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Заказчик
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Договор
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Контактное лицо от ЛПУ
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Телефон контактного лица
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Наименование учреждения
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Адрес вывоза
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Комм-рий к адресу
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span График работы
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Периодичность вывоза отходов
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Дата палновая
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Дата план.изменен
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Дата фактическая
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Тип вывоз отхода
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Кол-во плановое
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Кол-во фактическое
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Ед.измер
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span ТС
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Тип ТС
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Водитель
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Корректировка
		//- 					i.fa-solid.fa-sort-down
		//- 			th(style="min-width: 200px")
		//- 				.filterable
		//- 					span Статус
		//- 					i.fa-solid.fa-sort-down
		//- 	tbody
		//- 		tr
		//- 			td
		//- 				input.form-check-input(type="checkbox")
		//- 			td 231231
		//- 			td Липецк
		//- 			td Союз Рубин
		//- 			td x
		//- 			td ООО Медицинские центры России
		//- 			td 254/454
		//- 			td Иванова А.А Петрова В.В.
		//- 			td 8-4742-15-20-14
		//- 			td ЛЕЧЕБНО-ДИАГНОСТИЧЕСКИЙ ЦЕНТР №1
		//- 			td Липецк Ковалева 125Б
		//- 			td в первой половине
		//- 			td вкл. Вых. ии праздн.
		//- 			td ВТ,ЧТ
		//- 			td 6/18/2023
		//- 			td 6/17/2023
		//- 			td 6/17/2023
		//- 			td А
		//- 			td 1
		//- 			td 1
		//- 			td КГ
		//- 			td А925АА48
		//- 			td Термофургон
		//- 			td Тарабах А.А.
		//- 			td x
		//- 			td В работе
		//- 		tr
		//- 			td
		//- 				input.form-check-input(type="checkbox")
		//- 			td 231232
		//- 			td Липецк
		//- 			td Союз Рубин
		//- 			td x
		//- 			td ООО Медицинские центры России
		//- 			td 254/454
		//- 			td Иванова А.А Петрова В.В.
		//- 			td 8-4742-15-25-18
		//- 			td ЛЕЧЕБНО-ДИАГНОСТИЧЕСКИЙ ЦЕНТР №2
		//- 			td Липецк Ковалева 125Б
		//- 			td до 14:00
		//- 			td вкл. Вых. ии праздн.
		//- 			td ВТ,ЧТ
		//- 			td 6/18/2023
		//- 			td 6/17/2023
		//- 			td 6/17/2023
		//- 			td Б
		//- 			td 1
		//- 			td 1
		//- 			td Контнейнер 35
		//- 			td А925АА48
		//- 			td Термофургон
		//- 			td Тарабах А.А.
		//- 			td x
		//- 			td Исполнена
		//- 		tr
		//- 			td
		//- 				input.form-check-input(type="checkbox")
		//- 			td 231233
		//- 			td Липецк
		//- 			td Союз Рубин
		//- 			td x
		//- 			td ООО Медицинские центры России
		//- 			td 254/454
		//- 			td Иванова А.А Петрова В.В.
		//- 			td 8-4742-41-22-24
		//- 			td ЛЕЧЕБНО-ДИАГНОСТИЧЕСКИЙ ЦЕНТР №3
		//- 			td Липецк Ковалева 125Б
		//- 			td ключи от ворот на охране
		//- 			td кроме вых. и праздн.
		//- 			td Еженд
		//- 			td 6/18/2023
		//- 			td 6/17/2023
		//- 			td 6/17/2023
		//- 			td В
		//- 			td 10
		//- 			td 10
		//- 			td ШТ
		//- 			td В311ОО48
		//- 			td Бортовой
		//- 			td Тарабах А.А.
		//- 			td x
		//- 			td Не исполнена
		//- 		tr
		//- 			td
		//- 				input.form-check-input(type="checkbox")
		//- 			td 231234
		//- 			td Липецк
		//- 			td Союз Рубин
		//- 			td ИП Бах
		//- 			td ООО Медицинские центры России
		//- 			td 254/454
		//- 			td Иванова А.А Петрова В.В.
		//- 			td 8-4742-41-78-99
		//- 			td ЛЕЧЕБНО-ДИАГНОСТИЧЕСКИЙ ЦЕНТР №4
		//- 			td Липецк Ковалева 125Б
		//- 			td По пропускам
		//- 			td кроме вых. и праздн. Искл. Суб.
		//- 			td ВТ,ЧТ
		//- 			td 6/18/2023
		//- 			td 6/17/2023
		//- 			td 6/17/2023
		//- 			td Г
		//- 			td 5
		//- 			td 5
		//- 			td М,КУБ
		//- 			td А744ВВ48
		//- 			td Цистерна
		//- 			td Бах А.А.
		//- 			td x
		//- 			td Отменена