.modal.fade(id="contact-persons-modal" data-bs-backdrop="static" data-bs-keyboard="false")
	.modal-dialog.modal-lg.modal-dialog-scrollable.modal-dialog-centered
		.modal-content
			.modal-header
				.d-flex.gap-2
					button.btn.btn-light(type="button" id="toggle-checked-all-btn")
						i.fa-regular.fa-circle-check
						span  Выделить всё
					button.btn.btn-light(type="button" id="delete-btn" data-disabled-toggle="any" disabled)
						i.fa-solid.fa-trash
						span  Удалить
					button.btn.btn-light(type="button" id="edit-btn" data-disabled-toggle="one" disabled)
						i.fa-solid.fa-edit
						span  Редактировать
					button.btn.btn-light(type="button" id="new-btn")
						i.fa-solid.fa-plus
						span  Добавить
				button.btn-close(type="button" data-bs-dismiss="modal")
			.modal-body
				.table-responsive
					table.table.table-striped.table-bordered.table-sm.table-hover.align-middle
						thead
							tr.align-middle
								th.text-center #
								th.text-center(style="width: 25%") ФИО водителя
								th.text-center(style="width: 25%") Контрагент
								th.text-center(style="width: 25%") Адрес вывоза отходов
								th.text-center(style="width: 25%") Статус
						tbody
							tr
								td
									input.form-check-input(type="checkbox")
								td.text-center Зубрикова О.В
								td.text-center ООО МЕД ПЛЮС
								td.text-center Липецк Ковалева д.125
								td.text-center Активен
							tr
								td
									input.form-check-input(type="checkbox")
								td.text-center Иванов И.И
								td.text-center ООО Контрагент
								td.text-center Воронеж Лизюкова 2
								td.text-center Заблокирован