.modal.fade(id="edit-driver-modal" data-bs-backdrop="static" data-bs-keyboard="false")
	.modal-dialog.modal-lg.modal-dialog-scrollable.modal-dialog-centered
		.modal-content
			.modal-header
				.modal-title.fs-5 Водитель
				button.btn-close(type="button" data-bs-dismiss="modal")
			.modal-body
				.d-flex.mb-3
					.col-3
						.input-group-text ФИО водителя
					.col
						input.form-control(type="text" name="name" value="Иванов Иван Иванович")
				.d-flex.mb-3
					.col-3
						.input-group-text.h-100 Категория прав
					.col
						.btn-group
							input.btn-check(type="checkbox" autocomplete="off" id="category-B")
							label.btn.btn-outline-rose(for="category-B") B
							input.btn-check(type="checkbox" autocomplete="off" id="category-BE")
							label.btn.btn-outline-rose(for="category-BE") BE
							input.btn-check(type="checkbox" autocomplete="off" id="category-C")
							label.btn.btn-outline-rose(for="category-C") C
							input.btn-check(type="checkbox" autocomplete="off" id="category-CE")
							label.btn.btn-outline-rose(for="category-CE") CE
							input.btn-check(type="checkbox" autocomplete="off" id="category-D")
							label.btn.btn-outline-rose(for="category-D") D
							input.btn-check(type="checkbox" autocomplete="off" id="category-DE")
							label.btn.btn-outline-rose(for="category-DE") DE
				.d-flex.mb-3
					.col-3
						.input-group-text Регион
					.col
						select.form-select(name="region")
							option(selected value="1") Липецкая обл.
							option(value="2") Тамбовская обл.
							option(value="3") Курская обл.
				.d-flex.mb-3
					.col-3
						.input-group-text Логин
					.col
						input.form-control(type="text" name="login" value="ivan777@mail.ru")
				.d-flex.mb-3
					.col-3
						.input-group-text Пароль
					.col
						input.form-control(type="password" name="password" value="#323243")
				.d-flex.mb-3
					.col-5
						.input-group-text.h-100 Транспортное средство
					.col
						.dropdown(data-multi-checkbox="dropdown")
							input.form-control(type="text" readonly placehoder="Выберите ТС")
							.dropdown-menu
								.d-flex.justify-content-end.px-2
									button.btn-close(type="button")
								.p-3
									.form-check
										input.form-check-input(type="checkbox" checked id="car-1")
										label.form-check-label(for="car-1") A 943 AA 49 (фургон)
									.form-check
										input.form-check-input(type="checkbox" id="car-2")
										label.form-check-label(for="car-2") A 324 AA 12 (термофургон)
									.form-check
										input.form-check-input(type="checkbox" id="car-3")
										label.form-check-label(for="car-3") A 643 AA 94 (фургон)
				.d-flex.mb-3
					.col-5
						.input-group-text Организация исполнитель (субподряд)
					.col
						select.form-select(name="executor")
							option(selected value="none") Не выбрано
							option(selected value="1") ООО Организация 1
							option(value="2") ООО Организация 2
							option(value="3") ООО Организация 3
				.d-flex.mb-3
					.col-5
						.input-group-text Статус
					.col
						select.form-select(name="status")
							option(selected value="1") Активен
							option(value="2") Заблокирован
			.modal-footer
				button.btn.btn-dark(type="button") Сохранить
				button.btn.btn-danger(type="button" data-bs-dismiss="modal") Отменить