.handbook-btn {
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: #ffffff;
	border: 1px solid #333333;
	border-radius: 10px;
	padding: 10px;
	text-align: start;
	text-decoration-line: none;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out;

	& i {
		font-size: 40px;
		color: #e33a4e;
	}
	& span {
		font-size: 18px;
		line-height: 1;
		color: #000;
	}

	&:hover {
		background-color: rgba(#000, 0.2);
	}
}
