.logo {
	display: flex;
	align-items: center;
	text-decoration-line: none;
	gap: 10px;

	& img {
		width: 60px;
		height: 60px;
	}
	& p {
		margin-bottom: 0;
		font-weight: 600;
		font-size: 18px;
		line-height: 1;
		color: #000;
	}
}